    :root {
    --main-bg-color: #ffffff;
    --main-blocks-color: #36363f;
    --main-fontsize: 13px;
}

.page {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: var(--main-fontsize);
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* Blocks */

.header {
    background-color: var(--main-blocks-color);
    background-image: url("../img/header__bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 589px;
}

.logo {
    text-align: center;
}

/* Elements */

.page__header {
    padding: 83px 0;
}
