body, h1, h2, h3, h4, h5, h6, img, a, p {
    margin: 0;
}

:root {
    --main-bg-color: #ffffff;
    --main-font-color-base: #ffffff;
    --main-font-color-primary: #b7b7b7;
    --main-font-color-black: #000000;
    --main-blocks-color: #36363f;
    --main-fontsize: 13px;
}

.page {
    font-family: 'Roboto', sans-serif;
    font-size: var(--main-fontsize);
    background-color: var(--main-bg-color);
    padding: 0;
    margin: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.text-white {
    color: var(--main-font-color-base);
}

.text-header {
    font-weight: regular;
}

/* Blocks */

.header {
    background-color: var(--main-blocks-color);
    background-image: url("../img/header__bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 589px;
}

.message {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--main-font-color-base);
}

.logo {
    text-align: center;
}
.title {
    font-size: 63px;
    font-weight: bold;
    letter-spacing: 10px;
    line-height: 57px;
    color: var(--main-font-color-base);
    text-transform: uppercase;
}

.subtitle {
    font-size: 23px;
    line-height: 35px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--main-font-color-primary);
}

.gallery {
    display: flex;
    justify-content: space-between;
}

.gallery-header {
    display: flex;
    font-size: 13px;
    line-height: 20px;
    margin: 50px 0;
    color: var(--main-font-color-black);
}

.gallery-header p {
    width: 508px;
    padding: 10px 0;
    margin-left: 60px;
    opacity: .6;
}

.gallery-header .title {
    font-size: 30px;
    line-height: 57px;
    color: var(--main-font-color-black);
    letter-spacing: normal;
    font-weight: normal;
    text-transform: none;
}

.gallery__block-right {
    position: relative;
    top: -72px;
    z-index: 1;
}

.block-image {
    background-color: var(--main-blocks-color);
}

.block-image:first-child {
    width: 300px;
    height: 202px;
}

.block-image:nth-child(2) {
    width: 400px;
    height: 265px;
}
.block-image:nth-child(3) {
    position: relative;
    top: -63px;
    width: 300px;
    height: 306px;
}

.block-image:nth-child(4) {
    width: 180px;
    height: 110px;
}

.block-image:nth-child(5) {
    position: relative;
    right: 180px;
    bottom: -110px;
    width: 180px;
    height: 133px;
}

.block-image:nth-child(6) {
    position: relative;
    left: 480px;
    bottom: 306px;
    width: 220px;
    height: 243px;
}

.banner {
    font-size: 16px;
    line-height: 26px;
    min-height: 326px;
    background-color: var(--main-blocks-color);
    background-image: url("../img/banner__bg.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.banner span {
    font-size: 23px;
    line-height: 20px;
    border: 1px solid #ffffff;
}

.banner p {
    font-weight: lighter;
}

/* Elements */

.page__header {
    padding: 83px 0;
}

.header__message {
    padding-right: 400px;
    padding-top: 195px;
}

.message__title {
    margin-bottom: 10px;
}

.gallery__images {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 508px;
}

.banner__content {
    padding: 110px 0;
}

.banner__text {
    padding: 10px;
}

.banner__message {
    padding: 0 192px;
    margin-top: 40px;
}

/* Links */

.images__link {
    opacity: .8;
}

.images__link:hover {
    opacity: 1;
}

/* Modificators */
